---
layout: page
---

<div class="posts-list">

  {% for collab in site.collaborators %}
  <article class="post-preview">
   
    <h2 class="team-name">
       <a href="{{collab.website}}"  target="_blank">{{ collab.name }}</a>
    </h2>
    <strong class="post-meta">{{ collab.university }}</strong>
            {% if collab.PI %}
            <br>
       <strong>PI: {{collab.PI}}</strong>
      {% endif %} 


    <div class="post-entry-container">

      <div class="team-image">
          <img src="{{ collab.image }}">
      </div>
      

      <div class="post-entry">

       <br>

         {{ collab.content }}
      </div>
    </div>


   </article>
  {% endfor %}
</div>
