---
layout: page
refactor: false
---

<section class="splide" aria-label="Lab life image carousel" id="main-slider" class="d-none">
    <div class="splide__track">
        <ul class="splide__list">
            {% for image in page.images %}
            <li class="splide__slide d-flex align-items-center justify-content-center bg-dark flex-column">
                <img data-splide-lazy="{{image.src}}" class="h-100 object-fit-contain" alt="{{image.caption}}">
                <div class="text-light my-3 mx-5 text-center">{{image.caption}}</div>

            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="splide" aria-label="Lab life thumbnail slider" id="thumbnail-slider" class="d-none">
    <div class="splide__track">
        <ul class="splide__list">
            {% for image in page.images %}
            <li class="splide__slide">
                <img data-splide-lazy="{{image.src}}" class="h-100">
            </li>
            {% endfor %}
        </ul>
    </div>
</section>