---
layout: page
refactor: false
---


{% for pub in site.publications reversed %}
    <p>
        {{ counter | plus: 1 }} - {{ pub.authors }}.
        <a href={{ pub.link }}>{{ pub.title }}</a>.
        {{ pub.journal }}. {{ pub.year }} {{ pub.month }};
        {{ pub.vol }} : {{ pub.pages }}. doi: {{ pub.doi }}
    </p>
    {% if pub.image %}
        <img src={{ pub.image }} width={{ pub.im_width }} height={{ pub.im_height }}>
    {% endif %}
    {% assign counter=counter | plus:1 %}
{% endfor%}