---
layout: page
---
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<div class="container" role="main">
  <div class="row">
    <!- div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ->
    <div class="col-lg-8  col-md-10 ">
      {% assign counter = 1 %}
      {% for pub in site.publications reversed %}
         {{ counter }} - {{ pub.authors }}.
         <a href= {{ pub.link }} >{{ pub.title }}</a>.
         {{ pub.journal }}. {{ pub.year }} {{ pub.month }};
         {{ pub.vol }} : {{ pub.pages }}. doi: {{ pub.doi }}
         <br>
         {% if pub.image %}
         <img src= {{ pub.image }} width={{ pub.im_width }} height={{ pub.im_height }} class="publication_image">
         <br><br>
         {% endif %}
         {% assign counter=counter | plus:1 %}
      {% endfor%}
    </div>
  </div>
</div>
