---
layout: page
refactor: false
fullwidth: true
---

<div class="row masonry-grid">
    {% for person in site.team %}
        <div class="masonry-item col-12 col-sm-6 col-lg-6 col-xl-4">
            <div class="card person-card mb-3">
                <img class="card-img-top" src="{{person.image}}" alt="Photo of {{person.name}}">

                {% if person.image %}
                    {% if person.image.lqip %}
                    {% capture lqip %}lqip="{{ person.image.lqip }}"{% endcapture %}
                    {% endif %}
        
                    {% assign src = person.image.path | default: person.image %}
                    {% unless src contains '//' %}
                    {% assign src = person.img_path | append: '/' | append: src | replace: '//', '/' %}
                    {% endunless %}
        
                    {% assign alt = person.image.alt | default: 'Preview Image' %}
        
                    <!-- <img src="{{ src }}" w="15" h="8" alt="{{ alt }}" {{ lqip }}> -->
                {% endif %}

                <div class="card-body">
                    <h3 class="card-title mb-0">{{ person.name }}</h3>
                    <strong class="team-title">{{ person.title }}</strong>
                    {{ person | markdownify }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
